<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/page :: head"></head>
<body cz-shortcut-listen="true">

<div th:replace="fragments/page :: navbar"/>

<div class="container">
    <h3>Categories </h3>
    <div class="row">
        <div class="col-3" th:each="category: ${categories}">
            <a th:href="@{/recipes/{category}(category=${category})}">
                <img class="card-img" th:src="@{/image/{category}.jpg(category=${category})}" alt="@{category}"/>
            </a>
        </div>
    </div>
</div>

</body>
</html>
